.jumbotron {
    background-image: url("https://java.codeup.com/examples/bootstrap/pizza.png");
    width: 100%;
}

.display-4{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    /*padding: 1em 0;*/
    font-size: 45px;
    width: 100%;
}
.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: .5em 0;
    width: 100%;
}
