.fancy-header {
    color: antiquewhite;
    text-align: center;
    /*background-image: url("/img/the-hunt-eye.jpeg");*/
}

.secondary-header {
    color: antiquewhite;
    text-align: center;
}

 body   {
    background-color:black;


 }

 .fancy-words {
     color: antiquewhite;
     text-align: center;
     list-style-position: inside;
 }

