.fancy-header {
    color: antiquewhite;
    text-align: center;
}

.secondary-header {
    color: antiquewhite;
    text-align: center;
}

 body   {
     background-color:black;
     background-image: url("/img/skull.jpeg");
     background-repeat: no-repeat;
     /*background-position: top, right;*/
     height: 500px;
     background-position-x: right;
     background-position-y: top;
     background-size: 560px 575px;


 }

 .fancy-words {
     color: antiquewhite;
     text-align: left;

     list-style-position: inside;
 }

ul{
    padding-left:0;
}
ul li{
    list-style-position: inside;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    background-color: antiquewhite;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 50%;;
    text-align: center;
    transition: 0.4s;
    border: none;
    outline: none;
    /*opacity: initial;*/
}

.active, .accordion:hover {
    background-color: dimgrey;
}

.dropdown {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    max-height: 100px;
    transition: max-height 0.2s ease-out;
}

